---
import ArticleList from '../../components/ArticleList.astro';
import H1 from '../../components/H1.astro';
import PageLayout from '../../layouts/PageLayout.astro';

const articles = (await Astro.glob('./*/*.mdx')).filter(
  (art) => !art.frontmatter.draft
);
---

<PageLayout description="Articles about frontend and other web topics">
  <section>
    <H1>Articles</H1>

    {
      articles.length > 0 ? (
        <ArticleList articles={articles} />
      ) : (
        <>
          <p>Unfortunately, there are not articles yet.</p>
          <p>
            Please, use this link to get to the <a href="/">home page</a>
          </p>
        </>
      )
    }
  </section>
</PageLayout>
