@import 'tailwindcss/base';
@import './base/root.css';
@import './base/typography.css';
@import './base/interactive.css';
@import './base/behavioral.css';

@import 'tailwindcss/components';
@import './components/container.css';
@import './components/menu.css';

@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular-subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-Bold-subset.woff2) format('woff2');
}
