---
import H1 from '../components/H1.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="404 Not found"
  description="This page does not exist"
  noIndex={true}
>
  <section>
    <H1>Not found</H1>
    <p>Oops! The page does not exist :(</p>
    <p>
      Please, consider creating a <a
        href="https://github.com/romazherdev/romazher.dev/issues/new"
        >GitHub issue</a
      > so we can figure this out. Thank you!
    </p>
    <p class="mt-4">
      Otherwise, you can follow this link to get back to the <a href="/"
        >home page</a
      >.
    </p>
  </section>
</PageLayout>
