---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="This page does not exist"
  title="404 Not found"
  noIndex={true}
>
  <section class="container mt-10">
    <h1
      class="text-start text-[10vw] font-bold uppercase md:text-[82px] lg:text-[104px] xl:text-9xl mb-4"
    >
      Not found
    </h1>
    <p>Oops! The page does not exist :(</p>
    <p>
      Please, consider creating a <a
        href="https://github.com/romazherdev/romazher.dev/issues/new"
        >GitHub issue</a
      > so we can figure this out. Thank you!
    </p>
    <p class="mt-4">
      Otherwise, you can follow this link to get back to the <a href="/"
        >home page</a
      >.
    </p>
  </section>
</Layout>
