---
layout: 'base.njk'
permalink: /
---

<section class="container">
    <p
        class="ml-[12%] mt-10 text-font-secondary xxs:text-left lg:-mb-2 lg:text-xl"
    >
        Hello, my name is
    </p>
    <h1 class="h1 mb-4">Roman Zher<span class="text-primary">dev</span></h1>

    <div class="layout items-center">
        <div class="col-span-full md:col-end-6">
            {% include "partials/_portrait.njk" %}
        </div>
        <div
            class="col-span-full mt-8 xxs:text-lg xs:text-xl md:col-start-6 md:ml-6 md:text-2xl"
        >
            <p>As you can see from my last name,</p>
            <p>I was born a developer...</p>
            <p
                class="mt-2 text-[23px] font-bold uppercase text-primary xxs:text-[26px] xs:text-2xl md:text-3xl lg:text-5xl"
            >
                A frontend developer
            </p>
        </div>
    </div>
</section>

<div class="mt-16"></div>

{%include "partials/_articles.njk" %}

<div class="mt-16"></div>

{%include "partials/_resources.njk" %}

<div class="mt-16"></div>

{%include "partials/_footer.njk" %}
