---
const { class: className } = Astro.props;
---

<h1
  class:list={[
    'text-start text-[10vw] font-bold uppercase md:text-[82px] lg:text-[104px] xl:text-9xl mb-4',
    className,
  ]}
>
  <slot />
</h1>
