---
import { Picture } from '@astrojs/image/components';
---

<div class="relative pr-4 pb-4">
  <div
    class="absolute left-4 top-4 right-0 bottom-0 bg-primary z-0 rounded-3xl shadow-base"
  >
  </div>
  <div
    class="bg-secondary rounded-3xl relative overflow-hidden pt-6 px-4 shadow-base grid items-end w-full"
  >
    <Picture
      class="mx-auto -mb-[1px]"
      widths={[600, 900, 1200]}
      sizes="(max-width: 768px) 100vw, (max-width: 1024px) 250px, (max-width: 1440px) 325px, 415px"
      aspectRatio="1.25"
      formats={['avif', 'webp', 'png']}
      src={import('../assets/roman-zherdev-01.png')}
      alt="Portrait photo"
      loading="eager"
      decoding="auto"
      width="415"
      height="328"
    />
  </div>
</div>
