---
import { Image } from "@astrojs/image/components";
---

<div class="relative pr-4 pb-4">
  <div
    class="absolute left-4 top-4 right-0 bottom-0 bg-primary z-0 rounded-3xl shadow-base"
  >
  </div>
  <div
    class="bg-secondary rounded-3xl relative overflow-hidden pt-6 px-4 shadow-base grid items-end w-full"
  >
    <Image
      class="mx-auto -mb-[1px]"
      src={import("../assets/Photo.png")}
      alt="Portrait photo"
      format="webp"
      loading="eager"
      decoding="auto"
    />
  </div>
</div>
