---
---

<section
  class="relative inline-grid grid-cols-3 rounded-full border-2 p-[2px]"
  aria-label="Color theme switcher"
>
  <button class="theme-switcher-option" data-theme-switcher value="light"
    >Light</button
  >
  <button
    class="theme-switcher-option"
    data-theme-switcher
    value="auto"
    title="As you have on your device">Auto</button
  >
  <button class="theme-switcher-option" data-theme-switcher value="dark"
    >Dark</button
  >
  <div class="theme-switcher-pill" aria-hidden="true"></div>
</section>

<script>
  const switchers = document.querySelectorAll(
    '[data-theme-switcher]'
  ) as NodeListOf<HTMLButtonElement>;

  const reflectSwitchers = () => {
    switchers.forEach((sw) => {
      sw.setAttribute('aria-pressed', String(sw.value === window.theme.value));
    });
  };

  reflectSwitchers();

  switchers.forEach((sw) => {
    sw.addEventListener('click', () => {
      window.theme.set((sw as HTMLButtonElement).value as ThemeValue);
    });
  });

  window.addEventListener(window.theme.eventName, reflectSwitchers);
</script>
