---
import { WORK_EXPERIENCE } from "../data/work-experience";
import JobItem from "./JobItem.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={className}>
  <h2>Work</h2>

  <ul class="grid gap-12 pl-5 border-l-4 border-decorative py-4">
    {
      WORK_EXPERIENCE.map((item) => (
        <li class="relative before:content-[''] before:absolute before:left-[-26px] before:top-2 before:w-2 before:h-2 before:bg-primary before:rounded-full">
          <JobItem {...item} />
        </li>
      ))
    }
  </ul>
</section>
