---
import type { MarkdownLayoutProps } from 'astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SkipLink from '../components/SkipLink.astro';
import BaseLayout, { BaseLayoutProps } from './BaseLayout.astro';

type Props = MarkdownLayoutProps<BaseLayoutProps>;

const { frontmatter } = Astro.props;
---

<BaseLayout {...frontmatter}>
  <SkipLink anchorId="skip_link" />
  <Header />
  <main id="main" class="container pt-6">
    <h1
      class="uppercase text-2xl md:text-4xl lg:text-6xl xl:text-7xl font-bold"
    >
      {frontmatter.title}
    </h1>
    <slot />
  </main>
  <div class="mt-16"></div>
  <Footer />
</BaseLayout>
