---
import type { MarkdownLayoutProps } from 'astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SkipLink from '../components/SkipLink.astro';
import { formatDate } from '../helpers/format-date';
import BaseLayout, { BaseLayoutProps } from './BaseLayout.astro';

interface ArticlePageProps extends BaseLayoutProps {
  minutesRead: string;
  createdAt: string;
}

type Props = MarkdownLayoutProps<ArticlePageProps>;

const { frontmatter } = Astro.props;
---

<BaseLayout {...frontmatter}>
  <SkipLink anchorId="skip_link" />
  <Header />
  <main id="main">
    <header
      class="bg-decorative pt-12 pb-6 mb-6 lg:mb-12 border-t border-b border-primary"
    >
      <div class="prose md:prose-xl mx-auto px-3">
        <h1
          class="uppercase text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-secondary !mb-0"
        >
          {frontmatter.title}
        </h1>

        <div class="flex mt-4 justify-start items-center text-secondary">
          <p class="!m-0">
            <time datetime={frontmatter.createdAt}
              >{formatDate(frontmatter.createdAt)}</time
            > - {frontmatter.minutesRead}
          </p>
        </div>
      </div>
    </header>

    <div class="prose md:prose-xl dark:prose-invert mx-auto px-3">
      <slot />
    </div>
  </main>
  <div class="mt-16"></div>
  <Footer class="mt-auto" />
</BaseLayout>
