---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/style.css';

export interface Props {
  title?: string;
  description?: string;
  pageUrl: string;
}

const { title, pageUrl, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - Roman Zherdev` : `Roman Zherdev`}</title>
    <script is:inline src="/js/theme.js" type="module"></script>
    <meta name="description" content={description} />
    <meta name="theme-color" content="Canvas" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-background text-font-primary">
    <Header pageUrl={pageUrl} />
    <slot />
    <div class="mt-16"></div>
    <Footer />
  </body>
</html>
