<section class="container">
    <h2>Articles</h2>
    <p>Unfortunately, I have not made a single article just yet, but I wish to do that soon. Meanwhile, you can read more <a href="/about">about&nbsp;me</a> if you are interested.</p>
</section>