<div>
  <div>
    <picture>
      <source srcset="img_pink_flowers.jpg">
      <source srcset="img_white_flower.jpg">
      <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
    </picture>
  </div>
</div>