<footer>
  <div class="container">
    <hr class="border-decorative">

    <div class="pt-8 pb-16 gap-8 flex flex-col xs:flex-row xs:gap-32">
      <dl class="flex flex-col gap-2">
        <dt class="text-xl mb-2">Links</dt>
        <dd>
          <a class="text-font-secondary hover:text-font-primary" href="https://t.me/romanzherdev">Telegram</a>
        </dd>
        <dd>
          <a class="text-font-secondary hover:text-font-primary" href="https://www.instagram.com/romazherdev">Instagram</a>
        </dd>
        <dd>
          <a class="text-font-secondary hover:text-font-primary" href="https://www.linkedin.com/in/romazherdev/">LinkedIn</a>
        </dd>
      </dl>

      <dl class="flex flex-col gap-2">
        <dt class="text-xl mb-2">Email</dt>
        <dd>
          <a class="text-font-secondary hover:text-font-primary" href="mailto:romazherdev@gmail.com">romazherdev@gmail.com</a>
        </dd>
      </dl>
    </div>
  </div>
</footer>