<header class="container flex items-center justify-between py-5">
  <nav>
    <ul class="flex items-center gap-8">
      {% for item in nav %}
        {% if item.link == page.url %}
          {% set current = 'aria-current="page"' %}
        {% else %}
          {% set current = '' %}
        {% endif %}
        <li>
          <a class="nav-link" href="{{ item.link }}" {{ current | safe }}>
            {{- item.title -}}
          </a>
        </li>
      {% endfor %}
    </ul>

  </nav>

  <div class="theme-switcher">
    <button class="theme-switcher-option" data-id="theme-switcher" value="light">Light</button>
    <button class="theme-switcher-option" data-id="theme-switcher" value="auto">Auto</button>
    <button class="theme-switcher-option" data-id="theme-switcher" value="dark">Dark</button>
    <div class="theme-switcher-pill" aria-hidden="true"></div>
  </div>
</header>