<section class="container">
  <h2>Resources I recommend</h2>
  <dl>
    <dt>
      <a href="https://doka.guide/">doka.guide</a>
    </dt>
    <dd class="ml-4 md:ml-8">the best learning platform in the Russian speaking community</dd>
    <dt class="mt-4">
      <a href="https://web-standards.ru/">web-standards.ru</a>
    </dt>
    <dd class="ml-4 md:ml-8">cozy podcasts I listen to for staying up to date with the latest news in the web</dd>
    <dt class="mt-4">
      <a href="https://www.youtube.com/@pepelsbey">youtube.com/@pepelsbey</a>
    </dt>
    <dd class="ml-4 md:ml-8">a YouTube channel I really love, where the author shows how to build high-quality, accessible web interfaces</dd>
    <dt class="mt-4">
      <a href="https://www.codewars.com">www.codewars.com</a>
    </dt>
    <dd class="ml-4 md:ml-8">a well-known platform where you can improve your skills by solving coding challenges</dd>
  </dl>
</section>