@layer base {
  :root {
    --pink-300: hsl(284, 44%, 77%);
    --pink-400: hsl(277, 70%, 82%);
    --pink-700: hsl(281, 81%, 63%);
    --pink-900: hsl(271, 48%, 20%);

    --green-300: hsl(168, 80%, 48%);
    --green-700: hsl(176, 39%, 26%);

    --grey-400: hsl(0, 0%, 62%);
    --grey-900: hsl(255, 10%, 25%);

    --blue-300: hsl(209, 70%, 82%);
    --blue-500: hsl(209, 79%, 42%);
    --blue-700: hsl(209, 79%, 34%);

    --white: hsl(0, 0%, 96%);
    --midnight: hsl(256, 45%, 10%);
    --black: hsl(0, 0%, 11%);

    --shadow-base: 8px 8px 8px rgb(0 0 0 / 0.25);
  }

  :root.dark {
    --primary: var(--pink-700);
    --secondary: var(--pink-300);
    --accent: var(--green-300);
    --background: var(--midnight);
    --font-primary: var(--white);
    --font-secondary: var(--grey-400);
    --decorative: var(--pink-900);
  }

  :root:not(.dark) {
    --primary: var(--blue-700);
    --secondary: var(--blue-500);
    --accent: var(--green-700);
    --background: var(--white);
    --font-primary: var(--black);
    --font-secondary: var(--grey-900);
    --decorative: var(--blue-300);
  }
}
